[Desktop Entry]
Name=Subsonic
Comment=Searches your Subsonic server for music to play

Type=Service
X-KDE-ServiceTypes=Tomahawk/Resolver
X-Synchrotron-MainScript=contents/code/subsonic.js
X-Tomahawk-Resolver-MultiAccount=true

X-KDE-PluginInfo-Name=subsonic
X-KDE-PluginInfo-Category=Resolver
X-KDE-PluginInfo-Author=mack_t and Teo
X-KDE-PluginInfo-Email=teo@kde.org
X-KDE-PluginInfo-Version=0.5
X-KDE-PluginInfo-Website=http://gettomahawk.com
