[Desktop Entry]
Name=Spotify
Comment=Play your music from and sync your playlists with Spotify

Type=Service
X-KDE-ServiceTypes=Tomahawk/BinaryResolver
X-Synchrotron-Signature=_SIGNATURE_
X-Synchrotron-ContentUrl=_ZIPFILE_
X-Synchrotron-Type=_TYPE_
X-Synchrotron-MainScript=_BINARY_

X-KDE-PluginInfo-Name=spotify-_PLATFORM_
X-KDE-PluginInfo-Category=BinaryResolver
X-KDE-PluginInfo-Author=Hugo and Leo
X-KDE-PluginInfo-Email=lfranchi@kde.org
X-KDE-PluginInfo-Version=0.5.0
X-KDE-PluginInfo-Website=http://gettomahawk.com
